h1,
ul,
button {
  margin-left: 1rem;
  text-align: left;
  list-style: none;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* padding-top: .5em 1em; */
  border-radius: 2px;
}

.name {
  /* text-transform: lowercase; */
}

.id {
  font-weight: 100;
}

.role {
}

.age {
  color: blue;
}

.customer{
  border-radius: 15px;
  padding-right: 1rem;
}

.customer:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}


.container {
  display: flex;
  flex-wrap: wrap;
}

.container-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 100px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  background-color: white;
  padding: 5px;
}
