h1,
ul,
button {
  margin-left: 1rem;
  text-align: left;
  list-style: none;
}

button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: .5em 1em;
  border-radius: 2px;
}

.name {
  /* text-transform: lowercase; */
}

.id {
  font-weight: 100;
}

.role {
  /* text-transform: uppercase; */
}

.age {
  color: blue;
}

.container {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
}

footer {
  position: fixed;
  left: 0;
  bottom: 5px;
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}